.expenses-filter {
  color: white;
  padding: 0 1rem;
  text-align: center;
  background-color: #4b4b4b;
  width: 72rem;
  margin: auto;
  border-radius: 5px;
  }
  .expenses-filter:hover {
    background-color: black;
  }
  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding: 0 5px 0 10px;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    
  }
  .no-data{
    text-align: center;
    margin: auto;
    background-color: #4b4b4b;
    color: white;
    font-size: 20px;
    padding: 1rem;
    width: 600px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .saved-expenses{
    color: #2eeb2e!important;
    font-size: large;
    padding-bottom: 5px;
  }
  .search-box{
    padding-left: 15px;
    height: 29px;
    border-radius: 5px;
    border: none;
    padding-left:15px
  }