/* form{
    width: 616px;
    height: auto;
    margin: auto;
    background-color: #ac8bd1;
    border-radius: 1px solid black;
    margin-top: 10px;
} */
.new-expense__controls {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    padding: 10px 0 0 10px;
    margin: auto;
    text-align: center;
  }
  
  .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-expense__actions {
    text-align: center;
    padding: 15px 0;
    margin-bottom: 15px;
  }
  /* .new-expense__actions button{
    height: 35px;
    background-color: #40005d;
    border: none;
    border-radius: 5px;
    width: 115px;
    color: white;
  } */